 body {
 background-image: url(img/背景1.jpg);
 background-repeat: no-repeat;
 background-size: 100% 100%;
 background-attachment: fixed;
       }
 div{
		   border-style: solid;
		   border-color: transparent;
		   border-color: #020C16;
		   border-width: 2px;
	   }
                
* {
    margin: 0px;
    padding: 0px;
    list-style: none;
   }
                
 body {
     background-color: #4B7C99;
         }
#bigbox {
 width: 1000px;
 margin: 0 auto;
}

#banner {
width: 1000px;
font-size: 0px;
}
                
#banner img {
width: 1000px;
}
                
nav {
background-color: #CCD0D9;
width: 1000px;
height: 60px;
}
                
nav a {
text-decoration: none;
line-height: 60px;
margin-left: 50px;
margin-right: 50px;
color: #020C16;
font-weight: bold;
}
                
nav a:hover {
color: #1a9be6;
}
                
.shouye {
color: #1a9be6;
}
                
#main {
height: 600px;
width: 1000px;
 margin: 0 auto;
}
                
#main_left {
float: left;
height: 600px;
width: 300px;
background-color: #86aacb;
}
                
h2 {
box-sizing: border-box;
padding-left: 10px;
font-size: 20px;
line-height: 30px;
background-color: #03151F;
color: #CCD0D9;
                }
                
#main_left .img {
height: 300px;
width: 300px;
}
                
img {
width: 100%;
height: 100%;
                }
                
#main_left p {
margin-left: 10px;
line-height: 40px;
                }
                
#main_left span {
font-weight: bold;
}

#main_right {
float: right;
height: 600px;
width: 660px;
margin-left: 20px;
background: url(./img/彭于晏.jpeg) no-repeat 100% 100%;
background-image: url(../img/诗.png);
background-size: 100% 100%;
                }
                
#main_right .img {
position: absolute;
height: 200px;
width: 300px;
right: 0px;
top: 30px;
}
                
/* #main_right p {
 width: 400px;
display: inline-block;
color: #FF0000;
margin-left: 10px;
text-indent: 32px;
line-height: 30px;
margin-top: 10px;
                } */
                
#main_right ul li {
width: 660px;
margin-left: 10px;
font-size: 12px;
margin-top: 10px;
border-bottom: 1px dotted #ccc;
padding-bottom: 10px;
}
                
#main_right ul li span {
font-size: 14px;
font-weight: bold;
}
#main_right p{
	font-size: 25px;
	text-align: center;
	line-height: 70px;
	color: black;
}